.scrollable::-webkit-scrollbar {
  width: 10px;
}
.scrollable::-webkit-scrollbar-track {
  background: #000;
}
.scrollable::-webkit-scrollbar-thumb {
  background: #ffda54;
  border-radius: 5px;
}
.scrollable::-webkit-scrollbar-thumb:hover {
  background: #ffda54;
}
