.scalableImage {
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
  image-rendering:-webkit-optimize-contrast;
  -ms-interpolation-mode:nearest-neighbor;
  image-rendering:-moz-crisp-edges;
  image-rendering:pixelated;
}